@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-ExtraLight.woff2') format('woff2'),
        url('/fonts/Nunito-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne Mono';
    src: url('/fonts/SyneMono-Regular.woff2') format('woff2'),
        url('/fonts/SyneMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

